.App {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*background-color: #282c34;*/
}

.App-logo {
  height: 25px;
  pointer-events: none;
  margin: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #cdb65c;*/
  height: 36px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-header p {
  font-size: 1.2rem;
  font-family: Roboto, sans-serif;
  color: white;
  text-shadow: 0 0 4px red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Game {
  background-color: #282c34;
  border: 2px solid red;
  box-shadow: 0 0 4px 2px red;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  height: 320px;
}

.Panel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 36px;
  width: 100%;
}

.Field {
  /*background-color: #cdb65c;*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 0 0 15px;
  width: 90%;
  margin: 10px;
}

.cell,
.cell-open,
.cell-mine,
.cell-mark {
  background-color: rgba(0, 100, 0, 0.5);
  color: white;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #282c34;
  background-size: contain;
}

.cell-open {
  background-color: #282c34;
  border: 2px solid red;
  box-shadow: 0 0 4px 2px red;
  z-index: 2;
}

.cell-mine {
  background-color: rgba(255, 0, 0, 0.4);
  background-image: url('fired.svg');
}

.cell-mark {
  background-color: rgba(255, 0, 0, 0.4);
  background-image: url("target.svg");
  /*box-shadow: 0 0 6px 2px rgba(255, 0, 0, 0.6);*/
  z-index: 1;
}

.FlagsCounter {
  color: green;
}

.Timer {
  color: green;
}

.Reset {
  cursor: pointer;
}

.Reset img {
  width: 20px;
  height: auto;
}
